html, body {
  background-color: #eee;
  margin: 0;
  overflow: hidden;
  height: 100%
}
#container {
  height: 100%;
}
.channel-root-container {
  text-size: 16px;
  margin-left: 2px;
  background-color: white;
  border: 1px solid lightgray;
  float: left;
  border-radius: 3px;
  overflow-x: hidden;
  overflow-y: auto;
}
.toolbar-horizontal ~ .channel-root-container {
  margin-top: 2px;
  width: calc(59% - 6px);
  height: calc(98% - 38px);
}
.toolbar-vertical ~ .channel-root-container {
  margin-top: 1%;
  width: calc(59% - 6px);
  height: calc(98% - 6px);
}
.chat {
  margin-right: 2px;
  float: left;
}
.toolbar-horizontal ~ .chat {
  margin-top: 2px;
  margin-left: 1%;
  width: 39%;
  height: calc(98% - 38px);
}
.toolbar-vertical ~ .chat {
  margin-top: 1%;
  margin-left: 2px;
  width: calc(39% - 36px);
  height: calc(98% - 4px);
}
.log {
  background-color: white;
  height: calc(100% - 42px);
  padding: 5px;
  border: 1px lightgray solid;
  border-radius: 3px;
  overflow-x: hidden;
  overflow-y: scroll;
}
.branch img {
  height: 19px;
}
.branch {
  float: left;
  padding-top: 3px;
  padding-bottom: 3px;
  background-color: white;
  margin-right:
}
.channel-sub {
  margin-left: 9px;
  border-left: 1px transparent solid;
  padding-left: 9px;
}
.channel-wrapper:nth-last-child(n + 2) > .branch:not(:empty) + .channel-sub {
  border-left: 1px lightgray solid;
}
.channel-tree,
.user-wrapper {
  margin-left: 9px;
}
.channel-tree,
.user-tree {
  float: left;
}
.channel-tree::before,
.user-tree::before {
  content: "";
  display: block;
  position: relative;
  width: 9px;
  border-left: 1px lightgray solid;
  border-bottom: 1px lightgray solid;
  height: 14px;
}
.channel-wrapper:nth-last-child(n + 2) > .channel-tree:after,
.user-wrapper:nth-last-child(n + 2) .user-tree:after {
  content: "";
  display: block;
  position: relative;
  width: 0px;
  border-left: 1px lightgray solid;
  height: 14px;
}
.user {
  margin-left: 9px;
}
.user-status, .channel-status {
  float: right;
}
.user,.channel{
  height: 23px;
  padding: 2px;
  border: 1px solid transparent;
}
.selected {
  background-color: lightblue !important;
  border: 1px solid gray;
  border-radius: 3px;
}
.user:hover,.channel:hover {
  background-color: lightgray;
}
.thisClient {
  font-weight: bold
}
.currentChannel {
  font-weight: bold
}
.user-status img, .channel-status img {
  margin-top: 2px;
  width: 19px;
  height: 19px
}
.channel img, .user img {
  width: auto;
  height: 19px;
}
.channel-name, .user-name {
  display: inline;
}
.channel:hover .tooltip, .user:hover .tooltip {
  visibility: visible;
  height: auto;
  transition-delay: 1s;
}
.tooltip {
  visibility: hidden;
  height: 0px;
  background: white;
  border: 1px solid gray;
  margin-top: 16px;
  margin-left: 30px;
  padding: 10px;
  position: absolute;
  z-index: 100;
}
.toolbar {
  display: flex;
  align-items: center;
}
.toolbar img {
  height: 28px;
  width: 28px;
  padding: 2px;
  border: 1px solid transparent;
  border-radius: 3px;
}
.toolbar img:hover {
  border: 1px solid #bbb;
  background-color: #ddd;
}
.toolbar .tb-active {
  border: 1px solid #bbb;
  background-color: white;
}
.toolbar-horizontal {
  flex-direction: row;
  height: 36px;
  margin-top: 4px;
  margin-left: 1%;
  padding-left: 5px;
}
.toolbar-vertical {
  flex-direction: column;
  width: 36px;
  margin-top: 1%;
  margin-left: 4px;
  padding-top: 5px;
  float: left;
}
.toolbar-horizontal > * {
  margin-right: 5px;
}
.toolbar-vertical > * {
  margin-bottom: 5px;
}
.divider {
  display: inline-block;
}
.toolbar-horizontal .divider {
  height: 32px;
  border-left: 1px lightgray solid;
}
.toolbar-vertical .divider {
  width: 32px;
  border-top: 1px lightgray solid;
}
.toolbar-horizontal .handle-horizontal {
  width: auto !important;
  border: none !important;
  background-color: #eee !important;
}
.toolbar-horizontal .handle-vertical {
  display: none;
}
.toolbar-vertical .handle-vertical {
  height: auto !important;
  border: none !important;
  background-color: #eee !important;
}
.toolbar-vertical .handle-horizontal {
  display: none;
}
.channel-icon .channel-icon-active {
  display: none;
}
.channel-tag {
  font-weight: bold;
  color: orange;
}
.user-tag {
  font-weight: bold;
  color: green;
}
#message-box {
  width: 100%;
  border: none;
  background: none;
  margin: 5px 0 5px 0;
  padding: 0;
  height: 20px;
}
form {
  margin: 0;
  padding: 0;
}
.message-content p {
  margin: 0;
}
.tb-information, .tb-record, .tb-comment {
  filter: grayscale(100%);
}
.dialog-header {
  height: 20px;
  width: calc(100% - 10px);
  padding: 5px;
  text-align: center;
  color: white;
  background-color: gray;
  border-bottom: 1px solid darkgray;
}
.dialog-footer {
  position: absolute;
  bottom: 0px;
  width: calc(100% - 20px);
  margin: 10px;
}
.dialog-close {
  float: left;
}
.dialog-submit {
  float: right;
}
.dialog-close, .dialog-submit {
  width: 45%;
  font-size: 15px;
  border: 1px gray solid;
  border-radius: 3px;
  background-color: white;
  color: black;
  padding: 1px;
}
.connect-dialog table {
  text-align: center;
  width: 100%
}
.dialog {
  position: absolute;
  background-color: #eee;
  border: 1px gray solid;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  z-index: 20;
}
.settings-dialog {
  width: 300px;
  height: 156px;
  top: calc(50% - 100px);
  left: calc(50% - 150px);
}
.settings-dialog table {
  width: 100%;
  padding: 5px;
}
.settings-dialog td {
  width: 50%;
}
.settings-dialog table select {
  width: 100%;
}
.settings-dialog table input {
  width: 100%;
  margin: 0px;
}
.settings-dialog .mic-volume-container {
  height: 10px;
  border: 3px solid black;
}
.settings-dialog .mic-volume {
  height: 100%;
}
.join-dialog {
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
}
.join-dialog .dialog-submit {
  float: none;
  width: 200px;
  position: absolute;
  top: calc(50% - 10px);
  left: calc(50% - 100px);
}
.connect-dialog {
  width: 300px;
  height: 227px;
  top: calc(50% - 100px);
  left: calc(50% - 150px);
}
.connect-dialog input[type=text] {
  font-size: 15px;
  border: 1px gray solid;
  border-radius: 3px;
  background-color: white;
  color: black;
  padding: 2px;
  width: calc(100% - 8px);
}
.connect-dialog input[type=password] {
  font-size: 15px;
  border: 1px gray solid;
  border-radius: 3px;
  background-color: white;
  color: black;
  padding: 2px;
  width: calc(100% - 8px);
}
.connect-dialog.error-dialog {
  width: 400px;
  left: calc(50% - 200px);
}


/****************/
/* Minimal view */
/****************/

.minimal .toolbar-horizontal ~ .channel-root-container {
  width: calc(98% - 6px);
}
.minimal .toolbar-vertical ~ .channel-root-container {
  width: calc(98% - 42px);
}
.minimal .handle-horizontal {
  display: none;
}
.minimal .handle-vertical {
  display: none;
}
.minimal .divider {
  display: none;
}
.minimal .tb-connect {
  display: none;
}
.minimal .tb-information {
  display: none;
}
.minimal .tb-record {
  display: none;
}
.minimal .tb-comment {
  display: none;
}
.minimal .tb-settings {
  display: none;
}
.minimal .tb-sourcecode {
  display: none;
}
.minimal .chat {
  display: none;
}
.minimal .channel-wrapper {
  display: none;
}
.minimal .channel {
  display: none;
}
.minimal .user-tree {
  display: none;
}
.minimal .user-wrapper {
  margin-left: 0px;
}
.minimal .user {
  margin-left: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
  border: none;
  height: 19px;
}
.minimal .user-status {
  height: 19px;
}
